
body {
  font-family: 'Arial';
  padding: 0;
  margin: 0;
  color: #ddeeff;
  background-color: #000030;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.game {
  width: 100%;
  height: 100%;
  text-align: center;
}
