{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugins": [
    "react"
  ],
  "rules":{
    "arrow-parens": "warn",
    "block-spacing": "warn",
    "comma-dangle": "error",
    "comma-style": ["warn", "last"],
    "constructor-super":"error",
    "curly":"error",
    "dot-location": ["warn", "property"],
    "eol-last":"warn",
    "eqeqeq":"warn",
    "indent": ["warn", 2, {"SwitchCase": 1}],
    "key-spacing": "warn",
    "max-len": ["warn", 140],
    "new-cap": "off",
    "no-array-constructor":"error",
    "no-cond-assign":"error",
    "no-confusing-arrow":"error",
    "no-console":"off",
    "no-debugger":"off",
    "no-duplicate-imports":"error",
    "no-fallthrough":"warn",
    "no-floating-decimal":"error",
    "no-magic-numbers":["warn", {"enforceConst":true, "ignore": [ 0, 0.5, 1, 2, 10, 16, 100, 255 ], "ignoreArrayIndexes": true}],
    "no-mixed-spaces-and-tabs":"warn",
    "no-nested-ternary":"warn",
    "no-new-object":"error",
    "no-param-reassign":"error",
    "no-tabs":"warn",
    "no-trailing-spaces":"warn",
    "no-underscore-dangle":"off",
    "no-unused-vars": ["warn", {"args": "none"}],
    "no-useless-constructor":"error",
    "no-var":"warn",
    "no-whitespace-before-property":"warn",
    "operator-linebreak": ["warn", "after"],
    "prefer-const": ["warn", {"destructuring": "all"}],
    "jsx-quotes": ["warn", "prefer-double"],
    "semi":"warn",
    "scrit":"off",
    "spaced-comment":"warn",
    "react/jsx-uses-react": "warn",
    "react/jsx-uses-vars": "error",
    "react/jsx-equals-spacing": "warn",
    "react/jsx-indent": ["warn", 2],
    "react/jsx-indent-props": ["warn", 2]
  }
}